body {
  font-size: 14px;
  padding: 15px 20px;
}
.password {
  width: 300px;
  margin: 15px auto;
  position: relative;
}
#password-input {
  width: 100%;
  padding: 5px 0;
  height: 30px;
  line-height: 40px;
  text-indent: 10px;
  margin: 0 0 15px 0;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 18px;
}
.password-control {
  position: absolute;
  top: 26px;
  right: 23px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.password-control.view {
}

#password-confirm {
  width: 100%;
  padding: 5px 0;
  height: 30px;
  line-height: 40px;
  text-indent: 10px;
  margin: 0 0 15px 0;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 18px;
}

.password-form {
  display: flex;
  flex-direction: column;
}
.input-wrapper {
  position: relative;
  width: 200px;
}

.input-wrapper input {
  min-width: 120px;
  padding: 10px;
  margin-bottom: 24px;
}

.input-wrapper i {
  position: absolute;
  right: 25px;
  top: 30px;
  color: grey;
}

.btn {
  width: 150px;
}

.error {
  color: red;
}

.modal {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 95%;
  height: 200px;
  border-radius: 30px;
  box-shadow: 21px 20px 24px 11px rgba(0, 0, 0, 0.466);
}

.modal p {
  font-size: 60px;
  text-align: center;
}

.modal button {
  width: 50px;
  height: 50px;
  position: absolute;
  margin: 20px 20px 0px 94%;
  border: none;
  border-radius: 50%;
  outline: none;
  font-size: 30px;
  font-weight: bold;
  background-color: blue;
  color: white;
  transition: all 0.6s;
}

.modal button:hover {
  transform: rotate(135deg);
}
