.container {
    max-width: 1170px;
    margin: auto;
    height: 1000px;
}

/* =========================================NAVBAR======================================= */

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {

    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #14B9D5;
}

.active {
    background-color: #000000;
}

.center {
    margin-left: 300px;
    text-align: center;
    text-transform: uppercase;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
}


.logo {
    width: 27px;
    height: 27px;
}

.search {
    width: 17px;
    height: 17px;
}

.span {
    vertical-align: middle;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
}

.nav-h {
    height: 46px;
}

/* =======================================NEWS====================================================== */

/* .tops {
    margin-bottom: 1000px;
} */

.parents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 0px;
}

.divs1 {
    grid-area: 1 / 1 / 2 / 4;
}

.divs2 {
    grid-area: 1 / 4 / 2 / 5;
}

.divs3 {
    grid-area: 2 / 1 / 3 / 3;
}

.divs4 {
    grid-area: 2 / 3 / 3 / 5;
}

.divs5 {
    grid-area: 3 / 1 / 4 / 3;
}

.divs6 {
    grid-area: 3 / 3 / 4 / 5;
}

.divs7 {
    grid-area: 4 / 1 / 5 / 2;
}

.divs8 {
    grid-area: 4 / 2 / 5 / 5;
}



/* =========1-image========= */

.news-txt-1 {
    /* height: 100px; */
    text-align: right;
    margin-right: 59px;
    margin-top: 100px;
}

.news-txt-1 span {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    /* width: 110px; */
    color: black;
}

.news-txt-1 p {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 100;
    color: #5B6469;
}

.leftimg {
    float: left;
    /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0;
    /* Отступы вокруг картинки */
}

/* ==========2-IMAGE============= */

.news-txt-2 {
    margin-top: 100px;
}

.news-txt-2 span {
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}

.news-txt-2 p {
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}

/* ==============3-IMAGE============== */

.news-txt-3 {
    /* margin */
    margin-right: 30px;
    text-align: right;
}

.news-txt-3 span {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.news-txt-3 p {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 100;
    color: #5B6469;
}

/* ==============4-IMAGE============== */

.news-txt-4 {
    margin-left: 25px;
    text-align: right;
}

.news-txt-4 span {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.news-txt-4 p {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 100;
    color: #5B6469;
}


/* ==============5-IMAGE============== */

.news-txt-5 {
    /* margin-left: 25px; */
    margin-right: 100px;
    text-align: right;
}

.news-txt-5 span {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.news-txt-5 p {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 100;
    color: #5B6469;
}


/* ==============6-IMAGE============== */

.news-txt-6 {
    margin-left: 25px;
    text-align: right;
}

.news-txt-6 span {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.news-txt-6 p {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 100;
    color: #5B6469;
}

/* ==========7-IMAGE============= */

.news-txt-7 img {
    margin-top: 4px;
}

.news-txt-7 span {
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}

.news-txt-7 p {
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
}

/* =========8-image========= */

.news-txt-8 {
    height: 100px;
    text-align: right;
    margin-left: 35px;
}

.news-txt-8 span {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    width: 110px;
    color: black;
}

.news-txt-8 p {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 100;
    color: #5B6469;
}

.leftimg {
    float: left;
    /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0;
    /* Отступы вокруг картинки */
}


/* ========================SHAPKA======================== */

.col {
    background: #F2F2F2;
}

.image-one {
    width: 100%;
    height: 369px;
}

.centered {
    position: absolute;
    top: 30%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-family: Open Sans;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
}

.knopka {
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 55px;
    width: 170px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background: #89ca62;
    border: 0;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.knopka-two {
    position: absolute;
    top: 45%;
    right: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 55px;
    width: 170px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background: #14b9d5;
    border: 0;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}


/* ==========================POST=================== */

.text-big {
    font-family: Open Sans;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    padding-top: 49px;
    color: #18b4cf;
    margin-bottom: 52px;
    text-transform: uppercase;
}

.parenta {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}

.diva1 {

    grid-area: 1 / 1 / 3 / 2;
}

.diva2 {
    grid-area: 3 / 1 / 5 / 2;
}

.diva3 {
    grid-area: 1 / 2 / 8 / 3;
}

.diva4 {
    grid-area: 4 / 2 / 7 / 3;
}

.diva5 {
    grid-area: 1 / 3 / 3 / 4;
}

.diva6 {
    grid-area: 3 / 3 / 6 / 4;
}


.text-kartinki {
    padding-top: 20px;
    margin-top: -5px;
    padding-bottom: 10px;
    background: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

/* ====================CLIENT================ */


.image-two {
    width: 100%;
    height: 520px;
}

.centered-two {
    position: absolute;
    top: 300%;
    margin-left: 670px;
    transform: translate(-50%, -50%);
    font-family: Open Sans;
    font-size: 27px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    text-transform: uppercase;
}

.line {
    margin-left: 0%;
}

.parent-two {
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 90px;
    grid-row-gap: 0px;
}

.div1-two {
    grid-area: 1 / 1 / 2 / 2;
}

.div2-two {
    grid-area: 1 / 2 / 2 / 3;
}

.div3-two {
    grid-area: 1 / 3 / 2 / 4;
}

.div4-two {
    grid-area: 1 / 4 / 2 / 5;
}


/* ============Rated================ */

.parent2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 0;
}

.div11 {
    grid-area: 1 / 1 / 2 / 2;
}

.div22 {
    grid-area: 1 / 2 / 2 / 3;
}

.div33 {
    grid-area: 1 / 3 / 2 / 4;
}

.div44 {
    grid-area: 1 / 4 / 2 / 5;
}

.div55 {
    grid-area: 1 / 5 / 2 / 6;
}

.div66 {
    grid-area: 1 / 6 / 2 / 7;
}

.div77 {
    grid-area: 1 / 7 / 2 / 8;
}

.size-img {
    width: 100%;
    height: auto;
}



/* ============FOOTER============ */

.text-footer {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin: 20px 0px 0px;
    padding-top: 20px;
    padding-left: 210px;
    white-space: pre;
}

.footer-box {
    width: 100%;
    height: 80px;
    margin-top: 800px;

    background: #000000;
}

.liot {
    margin-left: 800px;
}

.btn-fixed-up {
    outline: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    text-decoration: none;
    background: #005074;
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 18px 0px 0px 0px;
    line-height: 26px;
    text-align: center;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.btn-fixed-up:hover {
    background: #0186c4;
    color: #ffffff;
}

.btn-fixed-up.show {
    opacity: 1;
    visibility: visible;
}

#close-hot-news {
    outline: none;
    position: absolute;
    margin: 40px 0px 0px 1200px;
    padding-bottom: 4px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 30px;
    background-color: #007a84;
    color: white;
}

#close-hot-news:hover {
    background-color: #005b63;
    color: white;
}