/* slider */

.image-to-show {
  width: 100%;
  height: 500px;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slide {
  width: 100%;
}

/* button stop */
.button-stop button {
  position: absolute;
  height: 50px;
  width: 200px;
  border-radius: 50px;
  border: none;
  margin: 26% 0px 0px 75%;
  outline: none;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(7, 106, 255);
  color: rgb(255, 255, 255);
}

.button-stop button:hover {
  background-color: rgb(0, 88, 219);
  color: rgb(255, 255, 255);
}

/* button start */

.button-start button {
  position: absolute;
  height: 50px;
  width: 350px;
  border-radius: 50px;
  border: none;
  margin: 31% 0px 0px 70%;
  outline: none;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(7, 106, 255);
  color: rgb(255, 255, 255);
}

.button-start button:hover {
  background-color: rgb(0, 88, 219);
  color: rgb(255, 255, 255);
}