body {
    background-image: url(../images/background/background.jpg);
}

/* ====================NAVBAR================== */
.navbar {
    position: absolute;
    width: 100%;
    height: 58px;
    top: 0;
    left: 0;
}

.navbar-text {
    position: absolute;
    color: white;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    height: 23px;
    width: 200px;
    padding-top: 20px;
    margin-right: 200px;
}

.navbar-text span:hover:nth-child(1) {
    color: #236d47;
}

.navbar-text span:hover:nth-child(2) {
    color: #236d47;
}

.cursor {
    cursor: default;
}

.back-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

.navbar-line {
    padding-left: 30px;
}

.navbar-logo {
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 152px;
}

.navbar-logo:hover {
    color: #3CB878;
}

.icons {
    margin-left: 65%;
}

li:nth-child(5) {
    margin-left: 64%;
}

.navbar-icon li:nth-child(1) {
    margin-top: 14px;
    background-image: url(../images/navbar-icon/icon-1.svg);
    background-repeat: no-repeat;
    margin-right: 27px;
}

.navbar-icon li:nth-child(2) {
    margin-top: 14px;
    background-image: url(../images/navbar-icon/icon-2.svg);
    background-repeat: no-repeat;
    margin-right: 27px;
}

.navbar-icon li:nth-child(3) {
    margin-top: 14px;
    background-image: url(../images/navbar-icon/icon-3.svg);
    background-repeat: no-repeat;
}

.navbar-icon li:hover:nth-child(1) {
    background-image: url(../images/navbar-icon/hover-icon/icon-1-h.svg);
    background-repeat: no-repeat;
}

.navbar-icon li:hover:nth-child(2) {
    background-image: url(../images/navbar-icon/hover-icon/icon-2-h.svg);
    background-repeat: no-repeat;
}

.navbar-icon li:hover:nth-child(3) {
    background-image: url(../images/navbar-icon/hover-icon/icon-3-h.svg); 
    background-repeat: no-repeat;
}

/* ============FORM================ */

form {
    display: block;
    margin-top: 108px;
    margin-left: auto;
    margin-right: auto;
    height: 615px;
    width: 444px;
    border-radius: 0px;
    background-color: white;
}

/* ==============FORM-TITLE=========== */

.form-line {
    display: inline-block;
}

.form-title {
    font-family: Ubuntu;
    font-weight: 400;
}

.sign {
    font-size: 20px;
    color: #434343;  
}


.login {
    font-size: 14px;
    padding-left: 232px;
    cursor: pointer;
    text-decoration: none;
    color: #3CB878;
}


.login:hover {
    text-decoration: underline;
    color: #01813F;
}



.form-block {
    cursor: default;
    margin: 29px 23px 0px 0px;
}

/* ===========FORM-BUTTON=========== */

.form-button button {
    color: rgb(255, 255, 255);
    width: 168px;
    height: 48px;
    border: 0;
    border-radius: 3px;
    font-family: Ubuntu;
    font-size: 16px;
}

.form-button button:nth-child(1) {
    margin: 0px 10px 31px 45px;
    background: #305DB8;
}

.form-button button:nth-child(2) {
    background: #DF4A32;
    margin-bottom: 20px;
}

.form-button button:hover:nth-child(1) {
    background: #022263;
}

.form-button button:hover:nth-child(2) {
    background: #AB1F09;

}

/* ===========FACEBOOK========= */

.facebook img:nth-child(1) {
    position: absolute;
    margin: -3px 0px 0px -34px;
}

.facebook img:nth-child(2) {
    position: absolute;
    margin: -5px 0px 0px -5px;
}

.facebook span {
    margin-left: 13px;
}

/* =============GOOGLE============ */

.google img:nth-child(1) {
    position: absolute;
    margin: 0px 0px 0px -40px;
}

.google img:nth-child(2) {
    position: absolute;
    margin: -4px 0px 0px 0px;
}

.google span {
    margin-left: 13px;
}

/* ============OR============= */

.or {
    text-align: center;
    color: #848484;
    margin-top: -20px;
}

/* ============INPUT======== */

.form-input input {
    width: 324px;
    height: 46px;
    padding-left: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.form-input input:focus { 
    outline: none; 
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.21);
}


/* =========CHECKBOX============ */

.container {
    display: block;
    position: relative;
    margin: 0px 0px 12px 50px;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    color: #434343;
    font-family: Ubuntu;
}

.container-i {
    cursor: pointer;
    color: #49bc80;
}

.container-i:hover {
    color: #01813f;
    text-decoration: underline;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #F2F2F2
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    position: absolute;
    margin: -5px 0px 0px 5px;
    width: 8px;
    height: 20px;
    border: solid #3CB878;
    border-width: 0px 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ==================SUBMIT================= */

.form-subm button {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 344px;
    height: 46px;
    background: #3CB878 80%;
    border-radius: 4px;
    border: none;
    color: white;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
}

.form-subm button:hover {
    background: #01813F;
}

/* ===================BUTTON-THEME=============== */

.theme {
    position: absolute;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: white;
    color: darkslategray;
    font-weight: bold;
    outline: none;
}

.theme:hover {
    background-color: rgb(197, 195, 195);
    color: darkslategray;
}

.dark-theme {
    background-color: darkslategrey;
    color: white;
}

.dark-theme:hover {
    background-color: rgb(55, 133, 133);
    color: white;
}

.light-theme {
    background-color: white;
    color: darkslategray;
}

.theme-form-input input {
    background-color: rgb(60, 122, 122);
    color: white;
}

.theme-form-input-placeholder input::-webkit-input-placeholder {
    color: white;
}

.theme-logo {
    color: rgb(0, 255, 242);
}

.theme-navbar-link {
    color: rgb(0, 255, 242);
}

.theme-navbar-auth {
    position: absolute;
    color: white;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    height: 23px;
    width: 200px;
    padding-top: 20px;
    margin-right: 200px;
}

.theme-navbar-auth span{
    color: rgb(0, 255, 242);
}


.theme-navbar-auth span:hover {
    color: rgb(0, 168, 160);
}


.theme-form {
    background-color: darkslategray;
}

.theme-link-and-text {
    color: white;
}

.theme-link-and-text-S {
    font-size: 20px;
    color: white;
}

.theme-link {
    font-size: 14px;
    cursor: pointer;
    color: rgb(0, 255, 242);
}

.theme-link:hover {
    color: rgb(0, 168, 160);
    text-decoration: underline;
}

.theme-navbar-background {
    background-color: rgba(47, 79, 79, 0.9);
}

.theme-or {
    text-align: center;
    color: white;
    margin-top: -20px;
}