body {
    background-color: rgb(0, 0, 0)
}

.scene {
    /* transform: rotateX(100deg); */
    width: 51%;
    height: 100%;
    /* border: 1px solid #CCC; */
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    /* perspective property */
    perspective: 400px;
    

    animation-name: text-1;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  
  .audio {
      height: 1px;
      width: 1px;
  }

  .panel {
    
    margin-top: -100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 100%;
    background: fixed;
    background: rgb(0, 0, 0);
    transform: rotateX(45deg);
    /* transform: center bottom; */
    color: yellow;
    
    text-align: justify;
    font-weight: bold;
    

    animation-name: text;
    animation-duration: 30s;
    animation-iteration-count: infinite;

  }

  
    .panel h1:nth-child(1){
        text-align: center;
    }

    .panel h1:nth-child(2){
        text-align: center;
    }


@keyframes text {
    0% {
        padding-top: 100%;
        
    }

  
    100% {
        padding-top: 0px;
    }
  
  
}


@keyframes text-1 {
    0% {
        perspective: 815px;
    }

    100% {
        perspective: 500px;
    }
}