footer {
    color: white;
    height: 355px;
    background-color: black;

    & .container-blocks > * {
        max-width: 684px;
        margin-left: auto;
        margin-right: auto;   
    }

    & .container-blocks .footer-title {
        padding-top: 66px;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
    }

    & .container-blocks .footer-text {
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #b9b9b9;
        margin-bottom: 37px;
    }
    & .container-blocks .footer-images {
        margin-bottom: 34px;
        text-align: center;
    } 

    & .container-blocks .footer-about {
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #b9b9b9;
    }
}







