.instagram {
    padding-bottom: 49px;

    & .container-blocks .instagram-text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". .";
        margin-top: 116px;
    
        & p:nth-child(2) {
            margin-left: 63%;
        }
    }

    & .container-blocks .instagram-image {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 0px 10px;
        grid-template-areas:
            ". . . .";

            
    }
}







.text-left {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: rgba(78, 78, 78, 1);
}

.text-right {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    color: #4E4E4E;
}