@media (max-width: 1200px) {
    body {
        width: 1200px;
    }

    .page__main-image {
        width: 1000px;
    }

    .post-container-text {
        width: 420px;
    }

    .posts-block {
        width: 410px;
    }

    .container-blocks {
        max-width: 1000px;
    }

    .posts-p {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .grid-container {
        width: 860px;
        gap: 32px 179px;
    }

    .instagram-image {
        grid-template-columns: 242px 242px 242px 242px;

        & img {
            width: 242px;
        }
    }

    .instagram-text {
        grid-template-columns: 460px 1fr;

        & p:nth-child(1) {
            width: 300px;
        }

        & p:nth-child(2) {
            width: 200px;
            margin-right: 20px;
        }
    }


}

@media (max-width: 1010px) {
    body {
        width: 1010px;
    }

    .page__main-image {
        width: 900px;
    }

    .grid-container {
        width: 900px;
        gap: 32px 15px;
    }

    .container-blocks {
        max-width: 900px;
    }

    .instagram-image {
        grid-template-columns: 218px 218px 218px 218px;

        & img {
            width: 218px;
        }
    }

    .instagram-text {
        & p:nth-child(2) {
            text-align: right;
        }
    }

    nav ul li {
        margin: 0 20px;
    }
}

@media (max-width: 920px) {
    nav ul li {
        margin: 0 10px;
    }

    body {
        width: 920px;
    }

    .page__main-image {
        width: 840px;
    }

    .grid-container {
        width: 800px;
        gap: 32px 1px;
    }

    .container-blocks {
        max-width: 820px;
    }

    .posts-p {
        width: 500px;
    }

    .posts-image {
        padding-right: 0px;
    }

    .instagram-image {
        grid-template-columns: 198px 198px 198px 198px;

        & img {
            width: 198px;
        }
    }

    .instagram-text {
        & p:nth-child(2) {
            text-align: right;
        }
    }
}

@media (max-width: 850px) {
    body {
        width: 850px;
    }

    .page__main-image {
        width: 750px;
    }

    .grid-container {
        width: 750px;
        gap: 32px 1px;
    }

    .container-blocks {
        max-width: 750px;
    }

    .post-container-text {
        width: 350px;
    }


    .posts-block {
        width: 350px;

        .posts-text {
            font-size: 10px;
        }
    }

    .instagram-image {
        grid-template-columns: 180px 180px 180px 180px;

        & img {
            width: 180px;
        }
    }

    .instagram-text {
        & p:nth-child(2) {
            text-align: right;
        }
    }
}

@media (max-width: 768px) {
    body {
        width: 768px;
    }


    .checkbtn {
        display: block;
    }

    nav ul {
        padding: 0;
        width: 182px;
    }

    ul {
        position: fixed;
        width: 182px;
        height: 208px;
        background: rgba(245, 245, 245, 1);
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        margin: 0 5px;
        display: block;
    }

    nav ul li a {
        font-size: 11px;
    }

    #check:checked~ul {
        left: 75%;
    }


    .list-item {
        font-size: 14px;
    }

    .container-blocks {
        max-width: 700px;
    }

    .page__main-image {
        width: 650px;
    }

    .post-container-text {
        width: 520px;
    }

    .posts-block {
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }


    .posts-p {
        width: 680px;
        margin-left: 3.5%;
        // margin-right: auto;
    }

    .grid-container {
        align-items: left;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 30px 0px;
        grid-template-areas:
            "."
            "."
            "."
            ".";
        width: 700px;
    }

    .instagram-text {
        margin-left: 25px;
        grid-template-columns: 300px 200px;
        gap: 0px 47px;
    }

    .instagram-image {
        margin-left: 25px;
        grid-template-columns: 218px 218px 218px 218px;
        grid-template-areas:
            ". . .";

        & img {
            width: 218px;
        }
    }

    .instagram-text {


        & p:nth-child(2) {
            text-align: right;
        }
    }

    .instagram-image img:nth-child(4) {
        display: none;
    }


    .open-burger {
        margin: 39px 0px 39px 86.5%;
        display: block;
    }

    .close-burger {}
}

@media (max-width: 720px) {
    body {
        width: 720px;
    }

    .page__main-image {
        width: 600px;
    }

    .grid-container {
        width: 600px;
        gap: 32px 1px;
    }

    .container-blocks {
        max-width: 600px;
    }

    .posts-block {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .posts-p {
        width: 650px;
        margin-left: 0%;
    }

    .instagram-image {
        margin-left: 0;
        grid-template-columns: 193px 193px 193px 193px;

        & img {
            width: 193px;
        }
    }

    .instagram-text {
        & p:nth-child(2) {
            text-align: right;
        }
    }

    .open-burger {
        margin: 39px 0px 39px 85%;
    }
}

@media (max-width: 640px) {
    body {
        width: 640px;
    }

    .page__main-image {
        width: 560px;
    }

    .grid-container {
        width: 560px;
        gap: 32px 1px;
    }

    .container-blocks {
        max-width: 560px;
    }

    .posts-block {
        width: 560px;
        margin-left: auto;
        margin-right: auto;
    }

    .posts-p {
        width: 550px;
        margin-left: 0%;
    }

    .instagram-image {
        margin-left: 0;
        grid-template-columns: 180px 180px 180px 180px;

        & img {
            width: 180px;
        }
    }

    .instagram-text {
        & p:nth-child(2) {
            text-align: right;
        }
    }
}

@media (max-width: 590px) {
    body {
        width: 590px;
    }

    .page__main-image {
        width: 510px;
    }

    .grid-container {
        width: 510px;
        gap: 32px 1px;
    }

    .container-blocks {
        max-width: 510px;
    }

    .posts-block {
        width: 510px;
        margin-left: auto;
        margin-right: auto;
    }

    .posts-p {
        width: 480px;
        margin-left: 0%;
    }

    .instagram-image {
        margin-left: 0;
        grid-template-columns: 163px 163px 163px 163px;

        & img {
            width: 163px;
        }
    }

    .instagram-text {
        & p:nth-child(2) {
            text-align: right;
        }
    }
}

@media (max-width: 540px) {
    body {
        width: 540px;
    }

    .page__main-image {
        width: 450px;
    }

    .grid-container {
        width: 450px;
        gap: 32px 1px;
    }

    .container-blocks {
        max-width: 450px;
    }

    .posts-block {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    .posts-p {
        margin-left: 0%;
    }

    .post-container-text {
        width: 400px;
    }

    .instagram-image {
        margin-left: 0;
        grid-template-columns: 143px 143px 143px 143px;

        & img {
            width: 143px;
        }
    }

    .instagram-text {
        & p:nth-child(2) {
            text-align: right;
        }
    }
}

@media (max-width: 480px) {
    body {
        width: 480px;
    }

    .page__main-image {
        width: 400px;
    }

    .grid-container {
        width: 400px;
        gap: 32px 1px;
    }

    .container-blocks {
        max-width: 400px;
    }

    .posts-block {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .posts-p {
        width: 400px;
        margin-left: 0%;
    }

    .post-container-text {
        width: 400px;
    }

    .instagram-image {
        margin-left: 0;
        grid-template-columns: 127px 127px 127px 127px;

        & img {
            width: 127px;
        }
    }

    .instagram-text {
        & p:nth-child(2) {
            text-align: right;
        }
    }
}

@media (max-width: 420px) {
    body {
        width: 420px;
    }

    .page__main-image {
        width: 350px;
    }

    .grid-container {
        width: 350px;
        gap: 32px 1px;
    }

    .container-blocks {
        max-width: 350px;
    }

    .posts-block {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .posts-p {
        width: 350px;
        margin-left: 0%;
    }

    .post-container-text {
        width: 400px;
    }

    .post-container-text p:nth-child(1) {
        font-size: 12px;
    }

    .post-container-text p:nth-child(2) {
        font-size: 9px;
    }

    .post-container-text p:nth-child(3) {
        width: 350px;
        font-size: 13px;
    }

    .instagram-image {
        margin-left: 0;
        grid-template-columns: 110px 110px 110px 110px;

        & img {
            width: 110px;
        }
    }

    .instagram-text {
        & p:nth-child(2) {
            text-align: right;
        }
    }
}

@media (max-width: 370px) {
    body {
        width: 370px;
    }

    .page__main-image {
        width: 300px;
    }

    .grid-container {
        width: 300px;
        gap: 32px 1px;
    }

    .container-blocks {
        max-width: 300px;
    }

    .posts-block {
        width: 300px;
        margin-left: auto;
        margin-right: auto;

        .posts-image {
            width: 130px;
            height: 140px;
            padding-right: 0px;
        }
    }


    .posts-p {
        width: 300px;
        margin-left: 0%;
    }

    .post-container-text {
        width: 400px;
    }

    .post-container-text p:nth-child(1) {
        width: 340px;
        font-size: 12px;
    }

    .post-container-text p:nth-child(2) {
        font-size: 9px;
    }

    .post-container-text p:nth-child(3) {
        width: 340px;
        font-size: 12px;
    }

    .instagram-image {
        margin-left: 0;
        grid-template-columns: 93px 93px 93px 93px;

        & img {
            width: 93px;
        }
    }

    .instagram-text {
        & p:nth-child(2) {
            text-align: right;
        }
    }
}


@media (max-width: 320px) {
    body {
        width: 320px;
    }

    .open-burger {
        margin: 39px 0px 39px 77.7%;
        display: block;
    }

    .page__main-image {
        width: 267px;
    }

    .posts-p {
        width: 168px;
        font-size: 13px;
    }

    .posts-text {
        display: none;
    }

    .posts-blocks-pos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "."
            ".";
    }

    .posts-image {
        width: 160px;
        height: auto;
    }

    .posts-block {
        height: 200px;
        width: 267px;
        margin-left: 0%;
        margin-right: auto;
    }

    .post-container-text {
        width: 267px;
    }

    .post-container-text p:nth-child(1) {
        width: 267px;
        font-size: 12px;
    }

    .post-container-text p:nth-child(2) {
        font-size: 9px;
    }

    .post-container-text p:nth-child(3) {
        width: 267px;
        font-size: 12px;
    }

    .grid-container div:nth-child(4) {
        display: none;
    }

    .grid-container {
        align-items: left;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 30px 0px;
        grid-template-areas:
            "."
            "."
            ".";
        width: 267px;
    }

    .container-blocks {
        max-width: 267px;
    }

    .instagram-image img:nth-child(4),
    img:nth-child(3),
    img:nth-child(2) {
        display: none;
    }

    .instagram-image {
        margin-left: 0;
        grid-template-columns: 267px;
        gap: 0px 0px;
        grid-template-areas:
            ".";

        & img {
            width: 267px;
        }
    }

    .instagram-text {
        margin-top: 40px;

        & p:nth-child(2) {
            text-align: right;
        }
    }


    .footer-title {
        padding-top: 6px;
    }

    .footer-text {
        font-size: 12px;
    }

    .footer-about {
        font-size: 12px;
    }

    .footer-images img {
        display: inline-block;
    }
}