*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  label.logo{
    color: rgb(0, 0, 0);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
      width: 97%;
      padding: 45px 0px 51px 0px;
    text-align: center;
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 28px;
    margin: 0 30px;
    
  }

  nav ul li a {
    text-transform: uppercase;
    color: #4E4E4E;
  }

  nav ul li a:hover {
    
        color: rgba(87, 164, 164, 1);
    
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
 



  