.posts-p {
    height: 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E;
    margin-top: 66px;
}



.grid-container {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px 55px;
    grid-template-areas:
      ". ."
      ". .";

    .posts-block {
        width: 555px;
    
        .posts-image {
            width: 160px;
            height: 140px;
            float: left;
            padding-right: 20px;
        }
    
        .posts-name {
            font-family: Roboto;
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0px;
            text-align: left;
            color: rgba(78, 78, 78, 1);
        }
    
        .posts-date {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            color: rgba(124, 124, 124, 1);
        }
    
        .posts-text {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
    
            color: rgba(92, 92, 92, 1);
        }
    
        .posts-br {
            display: none;
        }
    }
  }